
.blog-name:hover {
    cursor: pointer;
}

.like{
    display: inline;
}

.icon-like {
    background-image: url(../../assets/image/like.svg);
    background-size: cover;
    display: inline-block;
    height: 15px;
    width: 15px;

}
