.nav-bar {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
    background-color: #141629;
    color:white;
    font-size:40px;
    
  }
  .user {
    font-family: 'Fira Sans', sans-serif;
    font-style: bold;
    font-size: 25px;
  }
  h2{
    font-family:sans-serif;
   
  }

.blogs {
  border:hidden;
  margin:0px;
  border-radius: 10px;
  background-color:#95c7db;
  font-family: sans-serif;

}
  
